{% for comment in comments %}
    <div class="comment">
        <h4>{{ comment.name }} <small>{{ comment.created_date }}</small></h4>
        {% if comment.edit %}
            <form method="post" action="{% url 'comment_edit' comment.pk %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Save changes</button>
            </form>
        {% else %}
            <p>{{ comment.body }}</p>
            <a href="{% url 'comment_edit' comment.pk %}">Edit</a>
            <a href="{% url 'comment_delete' comment.pk %}">Delete</a>
            <input type="checkbox" name="{{ comment.pk
