{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html class="h-100">

<head>
    <title>CodeStar Blog</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <header>
        
        <nav id="menu">
            <ul>
                <li>
                    <a href="signup.html">Sign Up</a>
                </li>
                <li>
                    <a href="cookingcourses.html">Cooking courses</a>
                </li>
                <li>
                    <a href="index.html">Home</a>
                </li>
            </ul>
        </nav>
    </header>

    <!-- thankyou section -->

    <section id="thankyou-section">
        <div class="thankyou" id="thankyou-hero-image-text">
            <h1>Thank you!</h1> 
            <h2>We will get in contact shortly.</h2>
            <h2>keep an eye on your inbox.</h2>
            <br>
            <p>Check your SPAM box in case you don't se our reply.</p>
        </div>
    </section>

<footer>
    <ul class="social-networks">
        <li>
            <a href="https://facebook.com" target="_blank" rel="noopener" aria-label="Visit our Bacebook page (opens in a new tab)"><i class="fab fa-facebook"></i></a>
        </li>

        <li>
            <a href="https://instagram.com" target="_blank" rel="noopener" aria-label="Visit our Instagram page"><i
                    class="fab fa-instagram"></i></a>
        </li>
    </ul>
</footer>

<!-- font awesome script -->

<script src="https://kit.fontawesome.com/b264f7eebe.js" crossorigin="anonymous"></script>
</body>

</html>
{%endblock%}
